/* Search Column */

.transports .header .search-column .form-control {
    /* color: red; */
    height: 40px;
    font-size: 14px;
    border: 1px solid red;
    font-family: roboto-medium;
    position: relative;
    padding-left: 27px;
    border-radius: 4px;
}

.transports .header .search-column .start-destination-control {
    border: 2px solid red;
}

.transports .header .search-column .form-group i {
    position: absolute;
    top: 12px;
    left: 13px;
    font-size: 15px;
    color: red;
}

.transports .header .search-column ::placeholder {
    color: red;
    opacity: 1;
}

.transports .header .search-column :-ms-input-placeholder {
    color: red;
}

.transports .header .search-column ::-ms-input-placeholder {
    color: red;
}

.transports .header .search-column .btn {
    color: #fff;
    height: 40px;
    background: red;
    font-family: roboto-medium;
}

.transports .header .search-column .ant-picker-suffix {
    display: none;
}

/* End Search Column */

/* Main Section */

/* Filter */

.main-section .filter-column .card {
    border: 1px solid red;
}

.main-section .filter-column .card .card-header {
    background: red;
}

.main-section .filter-column .card .card-header h6 {
    font-family: roboto-medium;
}

.main-section .filter-column .card .card-body {
    padding: 20px 5px;
}

/* Toggle */

.main-section .filter-column .card .card-body .toggle-menu {
    padding: 12px 7px;
    border-bottom: 1px solid rgba(85, 85, 85, 0.11);
}

.main-section .filter-column .card .card-body .toggle-menu .toggle-title {
    cursor: pointer;
}

.main-section .filter-column .card .card-body .toggle-menu .toggle-title p {
    font-family: roboto-medium;
    font-size: 15px;
    color: #000;
}

/* Toggle Transport */

.main-section .filter-column .card .card-body .toggle-menu .toggle-transport-items {
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-section .filter-column .card .card-body .toggle-menu .toggle-transport-items .form-check-label {
    font-size: 14px;
    font-family: roboto-medium;
}

/* End Toggle Transport */

/* Toggle Bags */

.main-section .filter-column .card .card-body .toggle-menu .toggle-bags-items p {
    font-size: 14px;
    font-family: roboto-medium;
}

.main-section .filter-column .card .card-body .toggle-menu .toggle-bags-items .form-control {
    width: 35px;
}

/* End Toggle Bags */

/* Toggle Duration */

.toggle-duration-items p {
    color: #000;
    font-size: 14px;
    font-family: roboto-medium;
    line-height: 10px;
}

.toggle-duration-items small {
    font-size: 13px;
}

.toggle-duration-items .range-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: #dfdfdf;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

.toggle-duration-items .range-slider:hover {
    opacity: 1;
}

.toggle-duration-items .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    cursor: pointer;
    border-radius: 25px;
}

.toggle-duration-items .range-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: red;
    cursor: pointer;
}

/* End Toggle Duration */

/* Toggle Time */

.main-section .filter-column .card .card-body .toggle-menu .toggle-time-items {
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-section .filter-column .card .card-body .toggle-menu .toggle-time-items .form-check-label {
    font-size: 14px;
    font-family: roboto-medium;
}

/* End Toggle Time */

/* Toggle Days */

.main-section .filter-column .card .card-body .toggle-menu .toggle-days-items .btn {
    margin-right: 5px;
    width: 33px;
    height: 33px;
    font-style: 12px;
    margin-bottom: 5px;
    font-family: roboto-medium;
    text-transform: uppercase;
}

/* End Toggle Days */

.down {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* End Filter */

/* Transports */

/* Transport filter options */

.transports .main-section .transport-filter-options-card {
    border: 1px solid red;
}

.transports .main-section .transport-filter-options-card .card-body {
    padding: 10px;
}

.transports .main-section .transport-filter-options-card .card-body .btn {
    font-size: 15px;
    font-family: roboto-bold;
    text-transform: capitalize;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* End Transport filter options */

/* Result Card */

.transports .main-section .result-card {
    border: 1px solid rgba(255, 0, 0, 0.192);
}

.transports .main-section .result-card .card-body {
    padding: 13px 15px;
}

.transports .main-section .result-card .content .title h6 {
    color: red;
    font-weight: 900;
    font-family: roboto-bold;
}

.transports .main-section .result-card .content .title p {
    font-size: 13px;
    font-family: roboto-regular;
}

.transports .main-section .result-card .content .title .line {
    height: 1px;
    width: 200px;
    background: rgba(255, 0, 0, 0.192);
}

.transports .main-section .result-card .schedule {
    font-family: roboto-regular;
}

.transports .main-section .result-card .schedule small {
    font-size: 12px;
}

.transports .main-section .result-card .schedule small .time {
    color: red;
}

.transports .main-section .result-card .schedule p {
    font-family: roboto-medium;
    font-size: 14px;
    color: #000;
}

.transports .main-section .result-card .price img {
    max-width: 150px;
    max-height: 60px;
    margin-bottom: 5px;
}

.transports .main-section .result-card .price h4 {
    text-transform: uppercase;
    font-family: roboto-bold;
    color: red;
}

.transports .main-section .result-card .price .btn {
    color: #fff;
    background: red;
    text-transform: capitalize;
    font-family: roboto-bold;
    font-size: 14px;
    padding: 5px 30px;
}

@media(min-width: 576px) {
    .transports .main-section .result-card .price {
        text-align: right;
    }
}

/* End Result Card */

/* End Transports */

/* End Main Section */