.home-nav .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid red;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 9;
}

.home-nav .nav img {
    height: 30px;
    width: 180px;
}

.home-nav .nav ul {
    margin: 0;
    padding-top: 3px;
}

.home-nav .nav ul li {
    list-style: none;
    float: left;
}

.home-nav .nav ul li a {
    font-size: 15px;
    text-transform: capitalize;
    font-family: roboto-bold;
    color: red;
    text-decoration: none;
    padding: 5px 15px;
    margin-left: 10px;
}

.home-nav .nav ul li button {
    font-size: 15px;
    text-transform: capitalize;
    font-family: roboto-bold;
    color: red;
    text-decoration: none;
    padding: 5px 15px;
    margin-left: 10px;
    border: 0;
    background: none;
}

.home-nav .nav .menu-bar img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Side Menu */

.home-nav .side-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 99;
    transition: 0.3s;
}

.home-nav .side-menu .close-section .close-icon {
    color: red;
    font-size: 50px;
    padding: 0px 25px;
    cursor: pointer;
}

.home-nav .side-menu ul {
    padding-left: 30px;
    padding-right: 30px;
}

.home-nav .side-menu ul li {
    list-style: none;
}

.home-nav .side-menu ul li a {
    font-size: 15px;
    text-transform: capitalize;
    font-family: roboto-bold;
    color: red;
    text-decoration: none;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.home-nav .side-menu ul li .btn {
    font-size: 15px;
    text-transform: capitalize;
    font-family: roboto-bold;
    color: red;
    text-decoration: none;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-left: 0;
    width: 100%;
    text-align: left;
}

.home-nav .side-menu ul li a img {
    margin-right: 15px;
}

.home-nav .side-menu ul li .btn img {
    margin-right: 15px;
}

/* End Side Menu */

.home-nav .break {
    height: 81px;
}

/* Modal */

.home-nav .auth-modal .title h4 {
    color: red;
    font-family: roboto-medium;
}

.home-nav .auth-modal .title img {
    cursor: pointer;
}

.home-nav .auth-modal form small {
    font-style: 14px;
    font-family: roboto-bold;
}

.home-nav .auth-modal form .form-control {
    font-size: 14px;
    height: 40px;
    color: red;
    font-family: roboto-medium;
    border: 1px solid red;
}

.home-nav .auth-modal form .btn {
    font-family: roboto-medium;
}

.home-nav .auth-modal .links p {
    color: red;
    margin-bottom: 0;
    font-size: 15px;
    font-family: roboto-medium;
    cursor: pointer;
}

.home-nav .auth-modal .links p:hover {
    text-decoration: underline;
    text-decoration-color: red;
}

/* End Modal */