@font-face {
    font-family: roboto-regular;
    src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: roboto-medium;
    src: url('./assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: roboto-bold;
    src: url('./assets/fonts/Roboto/Roboto-Bold.ttf');
}

@media(min-width: 992px) {
    .container {
        min-width: 1000px;
    }
}

@media (min-width: 1200px) {
    .container {
        min-width: 1180px;
    }
}

@media (min-width: 1280px) {
    .container {
        min-width: 1240px;
    }
}

@media (min-width: 1440px) {
    .container {
        min-width: 1400px;
    }
}

@media(min-width: 1480px) {
    .container {
        min-width: 1440px;
    }
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.flex-column {
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}